.account {
  &__page {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    color: #4a4a4a;
    font-size: 22px;
  }
  &__user {
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
  }

  &__button {
    align-self: flex-end;
    flex-grow: 0;
  }
}

.user {
  &__name {
    font-size: 38px;
    margin-bottom: 16px;
  }

  &__subscribe {
    display: flex;
    align-items: center;
    margin: 0;
  }

  &__email {
    margin-bottom: 24px;
  }
}

.subscribe__icon {
  margin-left: 24px;
}

.container {
  &__wrapper {
    margin: 32px 0 80px 0;
    padding: 16px 0;
    border-bottom: 1px solid var(--primary-color);
  }

  &__title {
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 660px) {
  .account {
    &__user {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    &__button {
      display: block;
      margin: 0 auto;
    }
  }
  .user {
    &__subscribe {
      justify-content: center;
    }
  }
}
