@import 'sass/variables.scss';

.button {
  padding: 12px 20px;
  border: 2px solid var(--border-color, #000000);
  border-radius: 4px;
  font-size: inherit;
  font-family: inherit;
  background: var(--background, transparent);
  color: var(--color, #000000);
  transition: border-color $duration ease-in-out, background-color $duration ease-in-out,
    color $duration ease-in-out;
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }

  &:not([disabled]) {
    &:focus {
      outline: none;
    }
  }
}

.button--small {
  padding: 9px 12px;
  font-size: 16px;
}

.button--medium {
  padding: 14px 20px;
  font-size: 22px;
}

.button--large {
  padding: 18px 30px;
  font-size: 24px;
}

.button--filled {
  --border-color: var(--secondary-color);
  --background: var(--secondary-color);
  --color: #ffffff;

  &[disabled] {
    --border-color: var(--darken-secondary-color);
    --background: var(--darken-secondary-color);
    --color: #f5f5f5;
  }

  &:focus {
    --border-color: var(--darken-secondary-color);
  }

  &:not([disabled]) {
    &:hover {
      --background: transparent;
      --color: var(--secondary-color);
    }
  }
}

.button--outlined {
  --border-color: var(--secondary-color);
  --color: var(--secondary-color);

  &[disabled] {
    --border-color: var(--darken-secondary-color);
    --color: var(--darken-secondary-color);
  }

  &:focus {
    --border-color: var(--darken-secondary-color);
  }

  &:not([disabled]) {
    &:hover {
      --background: var(--secondary-color);
      --color: #ffffff;
    }
  }
}
