.book {
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__name {
    font-size: 36px;
    font-weight: normal;
    color: #4a4a4a;
    padding-bottom: 10px;
    margin: 0;
  }

  &__type {
    font-weight: 500;
    font-size: 16px;
    color: #72bbff;
    background: #e1f0ff;
    border-radius: 4px;
    padding: 9px 13px;
  }

  &__premium {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;

    &__icon {
      width: 54px;
      height: 54px;
    }

    &__text {
      color: #4a4a4a;
    }
  }

  &__image {
    width: 250px;
    height: 400px;
    object-fit: contain;
    display: block;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;

    &-name {
      margin-right: 24px;
    }

    &-stars {
      color: var(--secondary-color);
    }
  }

  &__buttons-container {
    min-width: 240px;
    display: flex;
    flex-direction: column;
  }
  &__buttons-container-small {
    display: none;
    flex-direction: row;
  }
  &__premium-small {
    display: none;
  }
  &__button {
    margin: 10px 0;
  }

  &__property {
    position: relative;
    top: 0;
    left: 32px;

    table {
      border-spacing: 0px;

      caption {
        text-align: left;
        font-size: 24px;
        padding-bottom: 20px;
        color: #4a4a4a;
      }

      td {
        &:nth-child(1) {
          color: #4a4a4a;
          min-width: 200px;
          border-right: 1px solid #000;
        }

        &:nth-child(2) {
          padding: 8px 50px;
        }
      }
    }
  }

  &__description {
    margin-top: 30px;

    &__name {
      font-size: 24px;
      color: #4a4a4a;
      padding-bottom: 20px;
    }

    &__text {
      color: #616161;
      font-size: 18px;
      white-space: pre-wrap;
    }
  }
}
@media (max-width: 860px) {
  .book {
    &__property {
      position: relative;
      top: 0;
      left: 32px;

      table {
        border-spacing: 0px;

        caption {
          text-align: left;
          font-size: 24px;
          padding-bottom: 20px;
          color: #4a4a4a;
        }

        td {
          &:nth-child(1) {
            color: #4a4a4a;
            min-width: 150px;
            border-right: 1px solid #000;
          }

          &:nth-child(2) {
            padding: 8px 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .book {
    &__buttons-container {
      display: none;
    }
    &__buttons-container-small {
      display: flex;
      flex-direction: row;
    }

    &__button-small {
      margin: 30px 5px;
    }
    &__property {
      position: relative;
      top: 0;
      left: 32px;

      table {
        border-spacing: 0px;

        caption {
          text-align: left;
          font-size: 24px;
          padding-bottom: 20px;
          color: #4a4a4a;
        }

        td {
          &:nth-child(1) {
            color: #4a4a4a;
            min-width: 100px;
            border-right: 1px solid #000;
          }

          &:nth-child(2) {
            padding: 8px 50px;
          }
        }
      }
    }
  }
}
