$shadow-color: rgba(0, 0, 0, 0.07);

.contacts-page {
  color: #4a4a4a;
  padding: 70px;
  margin-top: 30px;
  margin-bottom: 60px;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__column-line {
    display: flex;
    margin-bottom: 24px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 28px;
    text-align: center;
  }

  &__designation {
    font-weight: 800;
    font-size: 18px;
  }

  &__description {
    margin-left: 5px;
  }

  &__email {
    color: var(--primary-color);
    text-decoration: none;
  }

  &__developers {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  &__developer {
    display: flex;
    margin: 16px 8px 0 0;
  }

  &__map {
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 0 1px 2px $shadow-color, 0 2px 4px $shadow-color, 0 4px 8px $shadow-color,
      0 8px 16px $shadow-color, 0 16px 32px $shadow-color, 0 32px 64px $shadow-color;
    background: rgb(252, 252, 252);
  }
}

.developer {
  &__icon {
    margin: 0 5px;
    color: #31373f;

    &:hover {
      color: #000;
    }
  }
}

@media (max-width: 996px) {
  .contacts-page {
    color: #4a4a4a;
    padding: 70px;
    margin-top: 30px;
    margin-bottom: 60px;

    &__row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__map {
      margin-left: 80px;
      border-radius: 10px;
      box-shadow: 0 1px 2px $shadow-color, 0 2px 4px $shadow-color, 0 4px 8px $shadow-color,
        0 8px 16px $shadow-color, 0 16px 32px $shadow-color, 0 32px 64px $shadow-color;
      background: rgb(252, 252, 252);
    }
  }
}
@media (max-width: 600px) {
  .contacts-page {
    &__map {
      display: none;
    }
  }
}
