.book-list {
  margin-top: 30px;

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    margin: 0 3.5px;
    font-size: 22px;
    height: 36px;
    width: 36px;
    background: none;
    border: none;
    outline: none;
    border-radius: 50%;
    color: #4a4a4a;

    &--active {
      background-color: #f2762e;
      color: #fff;
    }
  }

  &__total {
  }
}
.three-dots {
  margin: 0 12px;
}
