.block {
  &__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
