$image-y-offset: 80px;

.intro {
  margin-bottom: $image-y-offset;
  background-color: var(--primary-color);
  color: #ffffff;

  &__container {
    display: flex;
  }

  &__content {
    padding: 74px 0;
    flex: 0 0 50%;
  }

  &__title {
    margin: 0;
    font-size: 80px;
    font-weight: 700;
  }

  &__description {
    margin: 0;
    font-size: 48px;
  }

  &__button-wrapper {
    width: fit-content;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  &__tag {
    margin: 6px 0 0 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__button {
    &:not([disabled]) {
      &:hover {
        --color: #ffffff;
      }
    }
  }

  &__image-wrapper {
    flex: 0 0 50%;
    display: block;
    align-items: flex-end;
  }

  &__image {
    margin: 29px -80px ($image-y-offset * -1) -80px;
    display: block;
    width: 795px;
    user-select: none;
  }
}

@media (max-width: 996px) {
  .intro {
    &__container {
      display: block;
      text-align: center;
    }

    &__content {
      padding: 74px 0;
      flex: 0 0 50%;
    }

    &__title {
      margin: 0;
      font-size: 80px;
      font-weight: 700;
    }

    &__description {
      margin: 0;
      font-size: 48px;
    }

    &__button-wrapper {
      width: fit-content;
      margin: 30px auto 0;
      display: flex;
      flex-direction: column;
    }

    &__tag {
      margin: 6px 0 0 0;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }

    &__button {
      &:not([disabled]) {
        &:hover {
          --color: #ffffff;
        }
      }
    }

    &__image-wrapper {
      flex: 0 0 50%;
      display: block;
      align-items: flex-end;
    }

    &__image {
      margin: 0 auto ($image-y-offset * -1);
      user-select: none;
      width: 795px;
    }
  }
}

@media (max-width: 1433px) {
  .intro {
    &__image {
      margin: 100px auto ($image-y-offset * -1);
      user-select: none;
      width: 100%;
    }
  }
}

@media (max-width: 821px) {
  .intro {
    &__container {
      display: block;
      text-align: center;
    }
    &__image {
      margin: 0 auto ($image-y-offset * -1);
      user-select: none;
      width: 650px;
    }
  }
}

@media (max-width: 760px) {
  .intro {
    &__container {
      display: block;
      text-align: center;
    }
    &__image {
      margin: 0 auto ($image-y-offset * -1);
      user-select: none;
      width: 550px;
    }
  }
}

@media (max-width: 659px) {
  .intro {
    &__container {
      display: block;
    }
    &__image-wrapper {
      display: none;
    }
    &__title {
      font-size: 50px;
      font-weight: 700;
    }
    &__description {
      font-size: 30px;
    }
  }
}
