.all-books {
  margin-bottom: 50px;

  &__wrapper {
    background-color: var(--primary-color);
    min-height: 280px;
    overflow: hidden;
  }

  &__title {
    font-size: 288px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 86px;
    margin: 0;
  }

  &__columns {
    display: flex;
  }
}
@media (max-width: 765px) {
  .all-books {
    &__title {
      font-size: 208px;
      color: #fff;
      text-align: center;
      position: relative;
      top: 86px;
      margin: 0;
    }
  }
}
