.header {
  &__container {
    padding: 27px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    display: block;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    transition: 0.5s;

    &:hover {
      color: var(--secondary-color);
      transition: 0.3s;
    }
  }

  &__logo {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-color);
    transition: 0.5s;

    &:hover {
      color: var(--secondary-color);
      transition: 0.35s;
    }
  }

  &__search {
    min-width: 360px;
  }

  &__buttons {
    gap: 20px;
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
  }

  &__buttons-adaptive {
    gap: 20px;
    display: none;
  }

  &__favorites {
    width: 46px;
    height: 46px;
  }

  &__divider {
    max-width: 1410px;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: var(--primary-color);
  }

  &__menu {
    font-size: 24px;
    color: #4a4a4a;

    &-item {
      display: block;

      &::before {
        position: absolute;
        content: '\200B';
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__title {
    text-decoration: none;
  }

  &__link {
    padding: 26px;
    text-decoration: none;
    color: inherit;
    transition: 0.4s;

    &:hover {
      color: var(--secondary-color);
      transition: 0.25s;
    }
  }
}

@media (max-width: 996px) {
  .header {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      margin: 0;
      font-size: 36px;
      font-weight: 700;
      color: var(--primary-color);
    }

    &__search {
      min-width: 349px;
    }

    &__buttons {
      display: none;
    }
    &__buttons-adaptive {
      gap: 20px;
      display: flex;
    }
    // &__favorites {
    //   width: 46px;
    //   height: 46px;
    // }

    &__divider {
      max-width: 1410px;
      height: 1px;
      margin: 0 auto;
      border: none;
      background: var(--primary-color);
    }

    &__list {
      display: flex;
      justify-content: center;
      list-style: none;
    }
  }
}

@media (max-width: 821px) {
  .header {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__search {
      min-width: 249px;
    }

    &__buttons-adaptive {
      gap: 10px;
      display: flex;
    }
  }
}
@media (max-width: 767px) {
}

@media (max-width: 659px) {
  .header {
    &__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__search {
      display: none;
    }
  }
}
