.header {
  &__container {
    padding: 27px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-color);
  }

  &__search {
    min-width: 360px;
  }

  &__buttons {
    gap: 20px;
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
  }

  &__favorites {
    width: 46px;
    height: 46px;
  }

  &__divider {
    max-width: 1410px;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: var(--primary-color);
  }

  &__menu {
    font-size: 24px;
    color: #4a4a4a;

    &-item {
      display: block;

      &::before {
        position: absolute;
        content: '\200B';
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__link {
    padding: 26px;
    text-decoration: none;
    color: inherit;
  }
}
