$shadow-color: rgba(0, 0, 0, 0.07);
.category-item {
  max-width: 190px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &:hover {
    .category-item__image {
      transition: 0.3s all ease-in;
      transform: scale(1.06);
    }
  }

  &__image {
    width: 190px;
    height: 254px;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    transition: 0.2s all ease-in;

    &:not([src]) {
      animation: blink 2s ease-in-out infinite;
    }
  }

  &__content {
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__user-score {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
  }

  &__button {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }

  &__info {
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__invisible-button {
    padding: 0;
    border: none;
    display: block;
    text-align: inherit;
    font-size: inherit;
    font-family: inherit;
    background: none;
    cursor: pointer;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }

  &__name {
    margin: 0;
    font-size: 16px;
    word-break: break-word;

    &--inline {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__descrtiption {
    margin: 4px 0 4px 0;
    font-size: 14px;
    font-weight: 300;
    vertical-align: bottom;
  }

  &__skeleton {
    &-rect {
      width: 100%;
      height: 1em;
      border-radius: 4px;
      display: block;
      animation: blink 2s ease-in-out infinite;
    }

    &-circle {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      display: block;
      animation: blink 2s ease-in-out infinite;
    }
  }
}

@keyframes blink {
  0%,
  100% {
    background-color: #9a9a9a;
  }

  50% {
    background-color: #b3b3b3;
  }
}
