.author-page {
  padding: 100px 70px 70px 70px;
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  &__warning {
    margin-top: 50px;
    font-size: 24px;
    color: #4a4a4a;
  }
}

.author__search {
  position: absolute;
  min-width: 400px;
  top: 30px;
}

@media (max-width: 659px) {
  .author__search {
    position: absolute;
    min-width: 300px;
    top: 30px;
  }
}
@media (max-width: 430px) {
  .author__search {
    position: absolute;
    min-width: 100px;
    top: 30px;
  }
}
