@import 'sass/variables.scss';

.text-field {
  padding: 12px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: inherit;
  font-family: inherit;
  transition: border-color $duration ease-in-out;

  &::placeholder {
    color: $inactive-color;
  }

  &[disabled] {
    border-color: $inactive-color;
  }
  &:focus {
    border-color: var(--secondary-color);
    outline: none;
  }
}
