.block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #4a4a4a;
  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }

  &__columns {
    gap: 16px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  &__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content 1fr;
    gap: 6px;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    overflow: hidden;

    &-label {
      width: 32px;
    }
  }

  &__field {
    width: 92px;
    box-sizing: border-box;
  }
}
