.footer {
  background-color: var(--primary-color);
  color: #ffffff;

  &__container {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
  }

  &__image-wrapper {
  }

  &__image {
    user-select: none;
  }

  &__description {
    font-size: 34px;
    line-height: 40px;
  }

  &__copyright {
    margin-top: 30px;
    font-size: 18px;
  }

  &__link-list {
    display: flex;
    list-style: none;
  }

  &__link-list-item {
    font-size: 30px;
    margin: 0px 24px;
  }
  &__link-list-item-link {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__trend {
  }

  &__trend-list {
    list-style: none;
  }

  &__trend-list-item {
    font-size: 30px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-bottom: 30px;
    &:not([disabled]) {
      &:hover {
        --color: #ffffff;
      }
    }
  }
}
@media (max-width: 996px) {
  .footer {
    background-color: var(--primary-color);
    color: #ffffff;

    &__container {
      padding: 80px 0;
      display: flex;
    }

    &__copyright {
      display: none;
      margin-top: 30px;
      font-size: 18px;
    }

    &__link-list {
      display: block;
      list-style: none;
      padding: 0px;
    }

    &__link-list-item {
      font-size: 25px;
      margin: 15px;
    }
    &__link-list-item-link {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

@media (max-width: 821px) {
  .footer {
    background-color: var(--primary-color);
    color: #ffffff;

    &__container {
      padding: 80px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
