.icon-button {
  padding: 8px;
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }

  &:not([disabled]) {
    cursor: pointer;
  }
}

.icon-button--primary {
  color: var(--primary-color);
}

.icon-button--secondary {
  color: var(--secondary-color);
}
