@import 'sass/variables.scss';

:root {
  --primary-color: #{$primary-color};
  --lighten-primary-color: #{lighten($primary-color, 10)};
  --darken-primary-color: #{darken($primary-color, 10)};
  --secondary-color: #{$secondary-color};
  --transparent-secondary-color: #{rgba($secondary-color, 0.35)};
  --lighten-secondary-color: #{lighten($secondary-color, 10)};
  --darken-secondary-color: #{darken($secondary-color, 10)};
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Roboto', 'Segoe UI', 'Ubuntu', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.fullpage {
  flex-grow: 1;
}

@media (max-width: 996px) {
  .container {
    max-width: 769px;
  }
}
@media (max-width: 769px) {
  .container {
    max-width: 659px;
  }
}
@media (max-width: 659px) {
  .container {
    max-width: none;
  }
}
