/* Appear */
.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-appear-done {
  opacity: 1;
}

/* Enter */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-appear-done {
  opacity: 1;
}

/* Exit */
.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-exit-done {
  opacity: 0;
}
